.resetpassword {
    width: 100%;
    max-width: 500px;
    margin: 0px auto 0px auto;
    padding: 0px 20px 20px 20px;
    text-align: center;
}
.resetpassword h4 {
    margin: 20px 0px 40px 0px;
}
.resetpassword a:first-child {
    margin-right: 20px;
}

.resetpassword a {
    width: 100%;
}
.resetpassword .additional_links p {
    padding: 0px;
    margin: 0px;
}
.resetpassword .additional_links a {
    color: #1a69a4;
}
.resetpassword .additional_links {
    margin: 15px 0px 0px 0px;
}
.resetpassword a img {
    max-width: 50px;
    padding: 2px 0px 0px 0px;
}
.resetpassword .past h5 {
    margin: 15px 0px 30px 0px;
}
.resetpassword .past a {
    margin: 0px 0px 20px 0px;
}
